$media-desktop-xxl: "only screen and (max-width : 1920px)";
$media-desktop-xl: "only screen and (max-width : 1366px)";
$media-desktop-lg: "only screen and (max-width : 1200px)";
$media-tablet-md: "only screen and (max-width : 960px)";
$media-tablet-sm: "only screen and (max-width : 764px)";
$media-mobile-xs: "only screen and (max-width : 480px)";
