//==== font settings ==========================================================
$font-spare: Arial, sans-serif;
$font-default: 'Oswald', $font-spare;
$font-additional: 'Oswald Regular', $font-spare;
$font-added: 'Source Sans Pro', $font-spare;
$font-icon:"FontAwesome";
$font-size-base: 12px;

$font-size-xxl: floor(( $font-size-base * 3.18  ));  // 38px = 12 * 3.16
$font-size-xl:  floor(( $font-size-base * 2.5   ));  // 30px = 12 * 2.5
$font-size-lg:  floor(( $font-size-base * 2     ));  // 24px = 12 * 2
$font-size-md:  floor(( $font-size-base * 1.5   ));  // 18px = 12 * 1.5
$font-size-sm:  floor(( $font-size-base * 1.33  ));  // 16px = 12 * 1.33
$font-size-xs:  floor(( $font-size-base * 1.18  ));  // 14px = 12 * 1.18
$font-size-ss:  floor(( $font-size-base * 1     ));  // 12px = 12 * 1
$font-size-sss: floor(( $font-size-base * 0.83  ));  // 10px = 12 * 0.83

//=============================================================================

//==== base size settings =====================================================

//values for padding

$base-padding: 10px;

$base-padding-lg: 24px;
$base-padding-sm: 18px;
$base-padding-xs: 12px;
$base-padding-xss: 9px;
$base-padding-ss: 6px;
$base-padding-sss: 3px;

$added-padding-ss: 7px;
$added-padding-sss: 5px;

//values for margin

$base-margin: 10px;

$base-margin-lg: 24px;
$base-margin-sm: 18px;
$base-margin-xs: 12px;
$base-margin-xss: 9px;
$base-margin-ss: 6px;
$base-margin-sss: 3px;

$added-margin-ss: 7px;
$added-margin-sss: 5px;

//values for width
$base-width: 10px;

$base-width-xl: 60px;
$base-width-sm: 28px;
$base-width-xs: 24px;
$base-width-xss: 18px;
$base-width-ss: 16px;
$base-width-sss: 12px;


$width-xlg: 1660px;
$width-lg: 552px;
$width-md: 720px;
$width-sm: 286px;
$width-xss: 208px;
$width-ss: 184px;
$width-sss: 100px;

$added-width-xs: 194px;

//values for height

$base-height: 10px;

$height-lg: 552px;
$height-md: 540px;
$height-ss: 163px;
$height-sss: 100px;

$base-height-xxxl: 96px;
$base-height-xxl: 64px;
$base-height-xl: 60px;
$base-height-lg: 48px;
$base-height-md: 36px;
$base-height-sm: 28px;
$base-height-xs: 24px;
$base-height-xss: 18px;
$base-height-ss: 16px;
$base-height-sss: 12px;

//values for line-height

$base-line-height-md: 29px;
$base-line-height-sm: 26px;
$base-line-height-xs: 24px;
$base-line-height-xss: 19px;
$base-line-height-ss: 18px;
$base-line-height-sss: 16px;

//=============================================================================

//values for shift (left/right/top/bottom)

$base-shift: 10px;

//values for input
$base-input-height-sm: 30px;
$base-input-height-xs: 23px;
$base-input-height-xss: 22px;

$base-input-width-sm: 188px;
$base-input-width-xss: 181px;
$base-input-width-ss: 23px;
$base-input-width-sss: 19px;

//values for button
$base-button-height-sm: 36px;
$base-button-width-sm: 78px;

//values for border
$base-border-radius-lg: 100px;
$base-border-radius-md: 62px;
$base-border-radius-xs: 15px;
$base-border-radius-xss: 12px;
$base-border-radius-ss: 8px;
$base-border-radius-sss: 2.5px;
