@import './base';

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  .header-container {
    flex: 0 0 auto;
    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: $base-height-xl;
      background: $color-additional-light-blue;
      .header__link {
        display: flex;
        justify-content: space-between;
        font-family: $font-added;
        position: absolute;
        width: 80%;
        color: #ffffff;
        text-transform: uppercase;
        .header__logo {
          flex-basis: 20%;
          @media #{$media-tablet-sm} {
            flex-basis: 10%;
          }
        }
        .header__link-news {
          display: flex;
          flex-basis: 60%;
          justify-content: flex-end;
          align-items: center;
          @media #{$media-tablet-sm} {
            flex-basis: 70%;
          }
          a {
            margin: 0 $base-margin;
            text-decoration: none;
            cursor: pointer;
            .active {
              opacity: 0.7;
            }
          }
          a:hover {
            opacity: 0.7;
          }
          .link-home {
            display: flex;
            align-items: center;
          }
        }
        .header__link-social {
          flex-basis: 20%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .search-news {
            position: relative;
            margin-left: 10px;
            @media #{$media-desktop-lg} {
                margin-left: 20px;
            }
            input {
              outline: none;
            }
            input[type=search] {
              position: absolute;
              top: -11px;
              right: -8px;
              background: $color-additional-light-blue url(../assets/icon/search.png) no-repeat 4px center;
              background-size: 14px;
              border: solid 1px $color-basic-white;
              width: $base-width * 2.5;
              height:$base-height * 2.5;
              padding-left: $base-padding;
              cursor: pointer;
              content: '\f002';
              color: transparent;
              -webkit-border-radius: 10em;
              -moz-border-radius: 10em;
              border-radius: 10em;

              -webkit-transition: all .5s;
              -moz-transition: all .5s;
              transition: all .5s;
            }
            input[type=search]:focus {
              width: $width-sss * 1.3;
              padding-left:$base-padding * 2.3;
              cursor: text;
              color: $color-basic-white;
            }
            input::-webkit-search-cancel-button, input::-webkit-search-decoration {
              display: none;
            }
            input:-moz-placeholder {
              color: transparent;
            }
            input::-webkit-input-placeholder {
              color: transparent;
            }
          }
          a {
            width: $base-width;
            margin-left: $base-margin * 3;
            color: $color-basic-white;
            text-decoration: none;
            cursor: pointer;
          }
          a:hover {
            opacity: 0.7;
          }
        }
      }

    }

    .sub-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      height: $height-sss * 2;
      background: url("../assets/image/newspaper.jpeg") no-repeat;
      background-size: cover;
      .sub-header__title {
        color: $color-basic-white;
        width: 80%;
        font-family: $font-added;
        font-size: $font-size-base * 3.5;
        text-shadow: 1px 1px 2px black, 0 0 1em $color-basic-white;
      }
      div {
        width: 80%;
        color: $color-basic-white;
      }
    }
  }

  .body {
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
    .body__wrapper {
      display: flex;
      width: 80%;

      .body__news {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
       width: 80%;
        @media #{$media-tablet-md} {
          width: 70%;
        }
        margin-top: $base-margin * 3;
        .body__latest-news {
          display: flex;
          width: 100%;
          border-bottom: 2px solid $color-additional-light-blue;
          .body__latest-news-text {
            box-sizing: content-box;
            padding: $base-padding-xs;
            background-color: $color-additional-light-blue;
            color: $color-basic-white;
            text-transform: uppercase;
            font-size: $font-size-xs;
          }
        }
        .body__news-posts {
          display: flex;
          margin-top: $base-margin * 2;
          min-height: $height-sss * 7;
          ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            li {
              list-style-type: none;
              div {
                width: $width-sm;
                height: $height-sss * 3;
                display: flex;
                margin: $base-margin*2 $base-margin*3 $base-margin*2 $base-margin;
                border: 1px solid $color-additional-dark-bg-grey;
                a {
                  text-decoration: none;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  img {
                    width: $width-sm;
                    flex-basis: 50%;
                    max-height: 180px;
                  }
                  .news-time {
                    font-weight: 400;
                    color: $color-additional-light-blue;
                    margin-left: $base-margin * 0.5;
                    flex-basis: 10%;
                  }
                }
                textarea {
                  border: none;
                  font-weight: 600;
                  font-size: $font-size-sm;
                  // height: 25%;
                  margin-top: $base-margin;
                  margin-left: $base-margin *0.5;
                  //  flex-basis: 30%;
                  outline: none;
                  cursor: pointer;
                  flex-direction: column;
                  font-family: $font-added;
                  color: $color-extra-black;
                  resize: none;
                }

              }
            }

          }

        }
        .pagination {
          width: 100%;
          display: flex;
          justify-content: center;
          margin-bottom: $base-margin;
          div {
            display: flex;
          }
          a {
            width: $base-width * 2.5;
            height: $base-height * 3;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color-additional-light-blue;
            font-size: $font-size-md;
          }
          a.active {
            background-color: $color-additional-light-blue;
            color: $color-basic-white;
          }
          a:hover:not(.active) {
            background-color: $color-extra-grey;
          }
        }
      }
      .body__weather {
        display: flex;
        justify-content: flex-end;
        width: 20%;
        height: 98%;
        margin-top: $base-margin * 7;
        margin-left: $base-margin;
        border-left: 2px solid $color-basic-light-gray;
        @media #{$media-tablet-md} {
          width: 30%;
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-basic-grey;
    height: $base-height-xl;
    flex: 0 0 auto;
    .footer__content {
      color: $color-basic-white;
      width: 80%;
    }
  }
  .active {
    opacity: 0.7;
  }
}

