@import './base';

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  .header-container {
    flex: 0 0 auto;
    .header {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 60px;
      background: $color-additional-light-blue;
      .header__link {
        display: flex;
        justify-content: space-between;
        font-family: $font-added;
        position: absolute;
        width: 80%;
        color: #ffffff;
        text-transform: uppercase;
        .header__logo {
          flex-basis: 20%;
        }
        .header__link-news {
          display: flex;
          flex-basis: 60%;
          justify-content: flex-end;
          a {
            margin: 0 10px;
            text-decoration: none;
            cursor: pointer;
          }
          a:hover {
            opacity: 0.7;
          }
          .link-home {
            display: flex;
            align-items: center;
          }
        }
        .header__link-social {
          flex-basis: 20%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          .search-news {

            input {
              outline: none;
            }
            input[type=search] {
              background: $color-additional-light-blue url(../assets/icon/search-icon.png) no-repeat 5px center;;
              border: solid 1px $color-basic-white;
              width: 27px;
              height: 27px;
              padding-left: 10px;
              cursor: pointer;
              content: '\f002';
              color: transparent;
              -webkit-border-radius: 10em;
              -moz-border-radius: 10em;
              border-radius: 10em;

              -webkit-transition: all .5s;
              -moz-transition: all .5s;
              transition: all .5s;
            }
            input[type=search]:focus {
              width: 130px;
              padding-left: 25px;
              cursor: text;
              color: $color-basic-white;
            }
            input::-webkit-search-cancel-button {
              display: none;
            }
            input:-moz-placeholder {
              color: transparent;
            }
            input::-webkit-input-placeholder {
              color: transparent;
            }
          }
          a {
            width: 10px;
            margin-left: 30px;
            color: $color-basic-white;
            text-decoration: none;
            cursor: pointer;
          }
          a:hover {
            opacity: 0.7;
          }
        }
      }

    }

    .sub-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 200px;
      background: url("../assets/image/newspaper.jpeg") no-repeat;
      background-size: cover;
      .sub-header__title {
        color: $color-basic-white;
        width: 80%;
        font-family: $font-added;
        font-size: 42px;
        text-shadow: 1px 1px 2px black, 0 0 1em $color-basic-white;
      }
      div {
        width: 80%;
        color: $color-basic-white;
      }
    }
  }

  .body {
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
    .body__wrapper {
      display: flex;
      width: 80%;

      .body__news {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 80%;
        margin-top: 30px;
        .body__latest-news {
          display: flex;
          width: 100%;
          border-bottom: 2px solid $color-additional-light-blue;
          .body__latest-news-text {
            box-sizing: content-box;
            padding: 12px;
            background-color: $color-additional-light-blue;
            color: $color-basic-white;
            text-transform: uppercase;
            font-size: $font-size-xs;
          }
        }
        .body__news-posts {
          display: flex;
          margin-top: 20px;
          min-height: 700px;
          ul{
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            li {
              list-style-type: none;
              div {
                width: 250px;
                height: 320px;
                display: flex;
                margin: 20px 30px 20px 10px;
                border: 1px solid $color-additional-dark-bg-grey;
                a {
                  text-decoration: none;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  img {
                    width: 250px;
                    flex-basis: 50%;
                    max-height: 180px;
                  }
                  .news-time {
                    font-weight: 400;
                    color: $color-additional-light-blue;
                    margin-left: 5px;
                    flex-basis: 10%;
                  }
                }
                textarea {
                  border: none;
                  font-weight: 600;
                  font-size: $font-size-sm;
                  height: 25%;
                  margin-top: 10px;
                  margin-left: 5px;
                  flex-basis: 30%;
                  outline: none;
                  cursor: pointer;
                  flex-direction: column;
                  font-family: $font-added;
                  color: $color-extra-black;
                  resize: none;
                }

              }
            }

          }


        }
        .pagination {
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }
      .body__weather {
        display: flex;
        justify-content: flex-end;
        width: 20%;
        height: 98%;
        margin-top: 70px;
        margin-left: 10px;
        border-left: 2px solid $color-basic-light-gray;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-basic-grey;
    height: 60px;
    flex: 0 0 auto;
    .footer__content {
      color: $color-basic-white;
      width: 80%;
    }
  }
}
