* {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
}
.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.header-container {
    flex: 0 0 auto;
}
.header {
    height: 60px;
    background: cyan;
}
.sub-header {
    height: 100px;
    background: url("./assets/image/old-newspaper-350376_1920.jpg") no-repeat;
}
.body {
    flex: 1 0 auto;
}

.footer {
    background-color: darkgrey;
    height: 60px;
    flex: 0 0 auto;
}